@import './default-light-theme.css';
@import './default-dark-theme.css';

:root {
	--basic-fontSize: 13px;
	--basic-layout-gap: 0.5rem;
}

body {
	min-height: 100%;
	font-family: 'JetBrains Mono', monospace;
	font-size: var(--basic-fontSize);
	line-height: 1.4;
	background-color: var(--area-page-background);
	color: var(--area-page-foreground);
}

p, figure, blockquote, dl, dd {
	margin-block: 2em;
}

h1, h2, h3, h4, h5, h6 {
	margin-block-end: 1em;
}

h1 + p {
	margin-block-start: 1rem;
}

h2 + p {
	margin-block-start: 0.825rem;
}

p + p {
	margin-block-start: 1rem;
}

a:focus-visible {
	outline-color: var(--color-secondaryForeground);
}

a {
	color: var(--color-secondaryForeground);
	text-decoration: underline;
}

main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	min-height: 100vh;
	margin-inline: auto;
	margin-block: auto;
	max-width: calc(768px - 4rem);
}

@media (max-width: 768px) {
	main {
		margin-inline: 2rem;
		margin-block: 1rem;
	}
}
