@import 'modern-css-reset/dist/reset.min.css';
@import './default-light-theme.css';
@import './default-dark-theme.css';

:root {
	--basic-fontSize: 13px;
	--basic-layout-gap: 0.5rem;
}

body {
	min-height: 100%;
	font-family: 'JetBrains Mono', monospace;
	font-size: var(--basic-fontSize);
	line-height: 1.4;
	background-color: var(--area-page-background);
	color: var(--area-page-foreground);
	padding-block: 1rem;
}

p, figure, blockquote, dl, dd {
	margin-block: 2em;
}

h1 + p {
	margin-block-start: 1rem;
}

h2 + p {
	margin-block-start: 0.825rem;
}

p + p {
	margin-block-start: 1rem;
}

li + li {
	margin-block-start: 0.5rem;
}

ul {
	padding-inline-start: 2rem;
}

strong {
	font-weight: 600;
}

a:focus-visible {
	outline-color: var(--color-secondaryForeground);
}

a {
	color: var(--color-secondaryForeground);
	text-decoration: underline;
}

main {
	min-height: 100vh;
	margin-inline: auto;
	margin-block: auto;
	max-width: calc(768px - 4rem);
}

@media (max-width: 768px) {
	body {
		padding-block: 0;
	}
	main {
		margin-inline: 2rem;
	}
}
