:root {
	--color-primaryBackground: #fff;
	--color-primaryForeground: #3c4043;
	--color-primaryBorder: #dbdcdd;
	--color-secondaryBackground: #dfe1e5;
	--color-secondaryForeground: #000;
	--color-tertiaryBackground: #f4f5f6;
	--color-tertiaryForeground: #616161;
	--color-icon: #424242;
	--color-iconHover: #4e4e4e;
	--color-danger: #d93025;
	--color-disabled-danger: #ffcfcc;
	--color-success: #178038;
	--color-disabled-success: #ccffdc;
	--color-info: #1b73e8;
	--color-disabled-info: #cce2ff;
	--color-list: #a242f4;
	--color-disabled-list: #e7ccff;
	--color-notify: #faab00;
	--color-disabled-notify: #ffefcc;
	--color-warning: #ea6e12;
	--color-disabled-warning: #ffe2cc;
	--color-personal: #d01884;
	--color-disabled-personal: #ffccea;

	--token-item-foreground: var(--color-warning);
	--token-filter-foreground: var(--color-list);
	--token-preferences-foreground: var(--color-info);
	--token-person-foreground: var(--color-personal);
	--token-file-foreground: var(--color-success);
	--token-changes-foreground: var(--color-notify);
	--token-unknown-foreground: var(--color-danger);
	--area-page-background: var(--color-primaryBackground);
	--area-page-foreground: var(--color-primaryForeground);
	--area-page-hoverForeground: var(--color-secondaryForeground);
	--area-modal-background: var(--color-primaryBackground);
	--area-modal-foreground: var(--color-primaryForeground);
	--area-modal-secondaryBackground: var(--color-tertiaryBackground);
	--area-modal-secondaryForeground: var(--color-tertiaryForeground);
	--area-sidebar-background: var(--color-tertiaryBackground);
	--area-sidebar-foreground: var(--color-tertiaryForeground);
	--area-sidebar-border: var(--color-primaryBorder);
	--area-form-background: var(--color-primaryBackground);
	--area-form-foreground: var(--color-primaryForeground);
	--area-form-border: var(--color-secondaryBackground);
	--area-button-default-background: var(--color-secondaryBackground);
	--area-button-default-foreground: var(--color-secondaryForeground);
	--area-button-default-border: var(--color-tertiaryBackground);
	--area-button-default-disabled-background: var(--color-tertiaryBackground);
	--area-button-default-disabled-foreground: var(--color-primaryBorder);
	--area-button-default-disabled-border: var(--color-primaryBorder);
	--area-button-action-background: var(--color-info);
	--area-button-action-foreground: var(--color-primaryBackground);
	--area-button-action-border: var(--color-info);
	--area-button-action-disabled-background: var(--color-tertiaryBackground);
	--area-button-action-disabled-foreground: var(--color-disabled-info);
	--area-button-action-disabled-border: var(--color-disabled-info);
	--area-button-danger-background: var(--color-danger);
	--area-button-danger-foreground: var(--color-primaryBackground);
	--area-button-danger-border: var(--color-danger);
	--area-button-danger-disabled-background: var(--color-tertiaryBackground);
	--area-button-danger-disabled-foreground: var(--color-disabled-danger);
	--area-button-danger-disabled-border: var(--color-disabled-danger);
	--area-button-warning-background: var(--color-warning);
	--area-button-warning-foreground: var(--color-primaryBackground);
	--area-button-warning-border: var(--color-warning);
	--area-button-warning-disabled-background: var(--color-tertiaryBackground);
	--area-button-warning-disabled-foreground: var(--color-disabled-warning);
	--area-button-warning-disabled-border: var(--color-disabled-warning);
}

